@import "/styles/variables";

.container {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
  &:hover .attr {
    opacity: 1;
    transform: translate(-50%, 0);
    transition: transform 0.2s ease-out 0.4s, opacity 0.2s ease-out 0.4s;
  }
}

.attr {
  position: absolute;
  padding: 4px 8px 2px 8px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  font-size: 9px;
  color: white;
  background: rgba(black, 0.5);
  border-radius: 4px 4px 0 0;
  opacity: 0;
  white-space: nowrap;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}
