@import "/styles/variables";

$table-border-color: #eeeeee;

.page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  width: 100%;
  padding: 1rem 3rem 3rem 3rem;
  display: flex;
  flex-direction: column;
}

.excerpt {
  color: $dark;
  width: 100%;
  font-size: 14px;
  line-height: 1.75em;
  padding: 2rem 0;
  border-bottom: 2px solid $lighter;
}

.article {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid $lighter;
  &,
  * {
    font-size: 14px;
    line-height: 1.75em;
  }
  h2 {
    font-size: 1.5em;
    font-weight: 600;
    margin: 1.5em 0 0.5em 0;
  }
  h3 {
    font-size: 1.25em;
    font-weight: 600;
    margin: 0.75em 0 0.5em 0;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    a {
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-100%, -50%) rotate(-45deg);
      padding: 0 0.25rem;
      transition: opacity 0.1s ease-out;
      i {
        font-size: 1.5em;
      }
    }
    &:hover {
      a {
        opacity: 0.25;
      }
    }
  }
  ol,
  ul {
    margin: 0.25em 0 0.5em 1.5em;
  }
  ol li {
    padding-left: 0.25em;
  }
  li {
    margin-top: 0.25em;
  }
  p {
    margin: 0.5em 0;
  }
  strong {
    font-weight: 600;
  }
  a {
    cursor: pointer;
    color: $blue-mid;
    transition: color 0.1s ease-out;
    &:hover {
      color: $blue-dark;
      text-decoration: underline;
    }
  }
  iframe {
    margin: 1em 0 0.5em 0;
    align-self: center;
  }
  del {
    text-decoration: line-through;
  }
  h2[id="table-of-contents"] {
    font-size: 1.25em;
    color: $darker;
    margin-top: 0;
    & + ul {
      p {
        font-size: 1em;
        margin: 0 0 0.25em 0 !important;
      }
      &,
      * {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}

.tableContainer {
  width: 100%;
  align-self: center;
  max-width: 800px;
  overflow-x: auto;
}

.table {
  min-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: thin solid $table-border-color;
  .thead {
    width: 100%;
    display: flex;
    border-bottom: thin solid $table-border-color;
  }
  .tbody {
    display: flex;
    flex-direction: column;
  }
  .tr {
    width: 100%;
    display: flex;
    align-items: center;
    &:not(:last-child) {
      border-bottom: thin solid $table-border-color;
    }
    &:nth-child(2n) {
      background: #fafafa;
    }
  }
  .th,
  .td {
    padding: 0.2em 1em;
    flex: 1;
    &:not(:last-child) {
      border-right: thin solid $table-border-color;
    }
  }
  .th {
    font-weight: 600;
  }
}

@media only screen and (min-width: 768px) {
  .main {
    max-width: 1000px;
    align-self: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .blurb {
    padding-bottom: 3rem;
    font-size: 1rem;
  }
  .article {
    padding: 3rem 0 4rem 0;
    &,
    * {
      font-size: 1rem;
    }
  }
}

@media only screen and (min-width: 1225px) {
  .main {
    max-width: 1200px;
  }
}
